<md-sidenav-layout>

  <md-sidenav #sidenav mode="side">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Angular Starter project</span>
  </md-toolbar>

  <div class="sp-container">
    <md-card>
      <md-card-title>Add a Speaker</md-card-title>
      <md-card-content>
        <form class="sp-form">
          <div>
            <md-input [(ngModel)]="speaker.firstName" name="firstName" placeholder="First Name"></md-input>
            <md-input [(ngModel)]="speaker.lastName" name="lastName" placeholder="Last Name"></md-input>
          </div>
          <div>
            <md-checkbox indeterminate="true">Tech Talk</md-checkbox>
            <md-checkbox indeterminate="true">Code Labs</md-checkbox>
          </div>
        </form>
        <div>
          <button md-raised-button class="sp-form-button"> Clear</button>
          <button (click)="addSpeaker(speaker)" md-raised-button color="primary" class="sp-form-button">Submit</button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="sp-container">
    {{speakers | json}}
  </div>

</md-sidenav-layout>

