.sp-container {
  padding: 20px;
}

.sp-form {
  padding: 20px;
}

.sp-form-button {
  margin: 10px;
}

.sp-card-container {
  display: flex;
  flex-flow: row wrap;
}

.sp-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

